.calender{
    max-width: 700px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color:black;
    margin:auto;

}
.month{
    text-align: center;
    background:gold;
    font-size: 60px;
    letter-spacing: 1px;
    color:black;
    border:9px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table,th,td{
    width: 100%;
    border-collapse: collapse;
    background-color:lightgray;
    text-align: center;
    table-layout: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;

    
         
}  
tr,th,td{
    padding:27px;

} 
th{
    background:blanchedalmond;
    color:brown;

} 
 

    
